# Flutter build files
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# iOS
ios/
ios/Flutter/
ios/Pods/

# Android
android/
android/.gradle/
android/.idea/
android/local.properties

# macOS
macos/
macos/Flutter/

# Windows
windows/
windows/flutter/

# Linux
linux/
linux/flutter/

# Web
web/

# Miscellaneous
*.iml
*.log
*.tmp
*.lock
.DS_Store
.idea/
*.class
